html{font-family: 'Secular One';}
/* HEADER */
.content{
    /*da al contenido "altura mínima" para que el footer nunca suba más de ahí, pero sí para que baje si aumenta el contenido*/
min-height: calc(100vh - 70px);
background-color: #CDEDF6;
}

header{
    height: 10%;
    align-items: center;
    background-color: #EF7B45;
    text-align: center;
    width: 100%;
}

.logo {
    height: 100%;
    width: 200px;
}

.navbar {
    width: 100%;
    background-color: #042A2B;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navbar a:hover {
    background-color: #5EB1BF;
}  

.active {
    background-color: #5EB1BF;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}
/* ORRIALDEAREN MAMIA */
/* KOLOREA */
section{
    background-color: #CDEDF6;
    padding-top: 1%;
}

/* SideNav */
.sidenav {
    margin-top: 26px;
    float: right;
    height: auto;
    width: 160px;
    font-family: 'Secular One';
    background-color: #042A2B;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 12px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: #094446;
    transform: scale(1.1) perspective(1px);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 17px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 17%;}
    .sidenav a {font-size: 17px;}
}
/* Artikuluak */
.articulos{
    display:flex;
    width: 85%;
    margin-top: 26px;
    margin-left: 2%;
    text-align: inherit;
    font-family: 'Helvetica';
    padding-bottom: 4%;
}
.articulo1{
    width: 100%;
    height: 100%;   
    background-color: white;
    padding: 2%;
}
.articulo2{
    width: 100%;
    height: 100%;   
    background-color: white;
    padding: 2%;
}

.articulo1 h1 , h1{color: #5eb2bf;}
.articulo1 p , p{font-style: normal;}
.articulo1 p{text-indent: 10%;}

.articulo2 h1 , h1{color: #5eb2bf;}
.articulo2 p , p{font-style: normal;}
.articulo2 p{text-indent: 10%;}

/* Footer de la pagina */  
footer{
    
    background: #042A2B;
    color: #CDEDF6;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 170px;
    
    
} 
/* parte 1 */
.footerP1{
    
    color: #d4f6ff;
    align-items: center;
    text-align: center;
    padding: 3%;
}
.footerP1 a{
    padding-right: 5%;
    padding-left: 1%;
    vertical-align: middle;
    
}
.footerP1 img{
    vertical-align:middle;
    width: 40px;
}


/* parte 2 */
.footerP2{
    text-align: center;
    background-color:  #042A2B;;
    color: #d4f6ff;
    padding-bottom: 1%;
}