html{font-family: 'Secular One';}
/* HEADER */


/* web orriaren mamiari estiloa emango diogu */
    /* Grid-ekin ordenatuko dugu */

    .main{
        padding: 3%;
        font-size: 20px;
        width: 70%;
        margin-left: 12%;
        height: auto;
        font-family: 'Open Sans', sans-serif;
        margin-top: 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:20% 60% 20%;
        grid-template-areas: 
        'galdera '
        'erantzuna '
        'botoiezker botoieskuin'
        ;
        background-color:white;
        
    text-align: justify;
    text-justify: inter-word;
        
    }

    /* Galdera atalaren propietateak */
    .galdera{
        grid-area: 'galdera';
        width: 100%;
        background-color: white;
    }
    .galdera li{margin-top: 3%;}
    .galdera p{text-indent: 10%;}
    /* Erantzunaren propietateak */
    .erantzuna{
        grid-area: 'erantzuna';
        width: 100%;
        background-color: white;
        margin-bottom: 20%;
    }

    /* Propietate komunak */
    .galdera h1 , .erantzuna h1{
        color: #5EB1BF; font-size: 25px;
    }
    .galdera p , .erantzuna p{
        font-style: normal;
    }
    /* botoiak div-ren barruan ezkerreko eta eskumako botoiak egongo dira */
    /* Aurreko eta atzeko botoien estilua */
    .botoiak{
        margin-top: auto;
        grid-area: 'botoiak';
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
        'btnA btnS';

    }
    a .botonSiguiente{
        grid-area: 'btnS';
        width: 8%;
        float: right;
    }


    a .botonAnterior{
        grid-area: 'btnA';
        width: 8%;
        float: left;;
    
    } 
/* Pantaila handia dagoenean */
@media screen and (min-width: 700px) {
   
    .content{ 
       
    padding-bottom: 10%;
    }
}

/* web orriaren mamiari estiloa emango diogu */
    /* Gridsekin ordenatuko dugu */


/* Pantaila oso txikia dagoenean */
@media screen and (max-width: 700px) {
    /* Galderaren propietateak */
    .galdera{
        grid-area: 'galdera';
        width: 100%;
        padding-bottom: 13%;
        background-color: white;
    }
    /* Erantzunaren propietateak */
    .erantzuna{
        grid-area: 'erantzuna';
        width: 100%;
        background-color: white;
        padding-bottom: 20%;
    }

    a .botonSiguiente{
        grid-area: 'btnS';
        width: 18%;
        float: right;
    }


    a .botonAnterior{
        grid-area: 'btnA';
        width: 18%;
        float: left;;
    
    } 
    .content{ 
    padding-bottom: 10%;
    }
    
}

